body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #181818;
  color: #EDECDD;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
}

h1, h2, h3 {
  color: #F7F7F7;
}
